form {
  padding: var(--padding-small);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

label {
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}

.input__container {
  width: 100%;
}

input {
  border: 2px solid var(--color-secondary);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.textarea__container {
  width: 100%;
}

textarea {
  border: 2px solid var(--color-secondary);
  border-radius: 0.5rem;
  padding: var(--padding-small);
}
